@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 100 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 600 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Pro";
  src: url("/fonts/montserrat/TT-Commons-Pro-Bold-GFXTRA.COM-iF66f11118bc78d.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Edwardian Script ITC";
  src: url("/fonts/montserrat/edwardianscriptitc.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
